:root {
    --softblue: #8bacda;
    --cyan: #00fff7;
    --mainBg: #0d192b;
    --cardBg: #14253d;
    --line: #2f415b;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}